html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;

}


.container {
    padding: 0 10px;
}
@media screen and (max-height:780px){
    .container {
        width: 748px;
        padding: 0 10px;
    }
}

a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

}

ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}
