@media (min-width: 480px) {
    .burger {
        display: none;
    }
    .logo {
        margin-bottom: 22px;
        h1 {
            display: block;
        }
        &:hover h1 {
            color: $hoverColor;
        }
        &:hover::before {
            background-position: top right;
        }
    }
    header {
        .container {
            flex-wrap: wrap;
        }
    }
    .btn_buy {
        width: 145px;
        height: 38px;
        font-size: 16px;
        transition: background-color, color, 0.2s;
        &:hover {
            background-color: $hoverColor;
            color: #8D81AC;
            border: 2px solid #8D81AC;
        }
    }
    .menu {
        position: static;
        width: 100%;
        margin-bottom: 18px;
        order: 3;
        display: flex;
        justify-content: space-evenly;
        z-index: 0;
        li {
            min-width: auto;
            &:last-child a {
                box-shadow: none;
            }
        }
        a {
            padding: 0;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 0.5px;
            color: #8D81AC;
            background-color: transparent;
            border: none;
            transition: color 0.2s;
            &:active,
            &:focus {
                color: none;
            }
            &:active::before,
            &:focus::before {
                display: none;
            }
            &:hover {
                color: $hoverColor;
            }
        }
    }
}