@media (min-width: 480px) {
    .first_screen {
        padding-top: 69px;
        background-position: center -140px;
        h2 {
            font-size: 72px;
        }
        p {
            width: auto;
            margin-bottom: 19px;
        }
    }
}